<div class="container">
  <h1>JSON's WDI Journal Blog</h1>
  <ul class="list-inline">
    <li><%= link_to 'JSON''s Journal', { controller: 'articles' }, class: "btn btn-primary" %></li>
    <li><%= link_to 'New article', new_article_path, class: 'btn btn-primary' %></li>
  </ul>
</div>
