// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.blog-blurb {
  
  .blurb-container{
    img {
    }
  }
}

.article-content {
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    height: auto;
  }
}

